@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #0F766E;
  --brand-secondary: #F97316;
}

body {
  @apply bg-gray-50 text-gray-900;
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
